body{
    background-image: url(https://wallpaperaccess.com/full/4990895.jpg);
    background-repeat: no-repeat;
    background-position: cover;
}


h1{
    text-align: center;
    margin-top: 50px;
    color: white;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}


.box{
    height: 100px;
    min-width: 100px;
    padding: 10px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    flex-direction: column
}

.main{
    font-size: 20px;
    margin-bottom: 6px;
}